<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<h3> Pokemon </h3>
<% @pokemon.each do |p| %>
	<h4> <%= p.name %> </h4>
	<p> Level <%= p.level %> </p>
	<p> Health: <%= p.health %> </p>
	<%= button_to "Damage!", damage_path(id: p.id), :class => "button medium", :method => :patch %>
<% end %>